.option{
    display: flex;
    justify-content: center;
    text-align: center;
    
    .thisPage{
        border-bottom: 8px solid #AA0601;
    }

    li{
        width: 33%;
        margin-bottom: 8px;
        a{
            display: block;   
            padding: 24px 0;
            text-align: center;
            text-decoration: none;
            color: #000;
            font-size: 32px;
            line-height: 48px;
            font-weight: bold;
            border: 1px solid #DCDCDC;

            &:hover{
                border-bottom: 8px solid #AA0601;
            }

        }
        
    }

    @media (max-width: 992px) {
       li{
        a{
            font-size: 24px;
            &:hover{
                border-bottom: 8px solid #AA0601;
            }
            
        } 
        .bl-none{
            border-left-style: none
        }  
        .br-none{
            border-right-style: none
        }
        
       }    
            
    }

    @media (max-width: 768px) {
        margin-top: 0;
        li{
            a{
                font-size: 16px;
                padding: 9% 0;
                &:hover{
                    border-bottom: 8px solid #AA0601;
                }
            } 
           } 
            
    }
}

.banner{
    display: flex;
    margin-top: -12px;
    margin-bottom: 68px;
    .banner-mobile{
        img{display: none;}
    }
    img{
        width: 100%;
    }

    @media (max-width: 767px) {
        .banner-PC{
            img{display: none;}
        }   
        .banner-mobile{
            img{display: block;}
        }
            
    }

    @media (max-width: 375px) {
        margin-top: 0px;
        .banner-PC{
            img{display: none;}
        }   
        .banner-mobile{
            img{display: block;}
        }
    }
    
}

.product{
    text-align: center;
    
    h1{
        font-size: 42px;
        line-height: 63px;
        font-family: 'Roboto',Medium;
        font-style: normal;
    }
    h2{
        font-size: 32px;
        line-height: 48px;
        font-family: 'Noto Sans TC';
        margin-bottom: 32px;
    }

    .productList{
        display: flex;
        flex-wrap: wrap;
        
        li{
            width: 32%;
            margin-bottom: 80px;
            padding: 1.8%;
            img{
                width: 100%;
            }
            a{
                &:hover{
                    opacity: 0.7;

                }
            }

            .productName{
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                line-height: 36px;
                font-family: 'Roboto';

                .price{
                    color: #AA0601;
                }

            }

            .color{
                display: flex;
                gap:2%;

                li{
                    width: 24px;
                    height: 24px;
                    border-radius: 12%;
                    
                    
                }
                .colorBrown{
                    background-color: #5F3E2D;
                }
                .colorOrange{
                    background-color: #b75929;
                }



            }

        }
        @media (max-width: 1320px) {
            justify-content: center;
            li{
                width: 46%;
            }
        }

        @media (max-width: 767px) {
            padding: 3%;
            li{
                width: 100%;
            }
        }

    }
    
}



.page{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    li{
        a{
           padding: 12px 16px; 
            border:1px solid #555555;
          text-decoration: none;
          color:#555555;
          font-size: 19px;
          font-family: 'Roboto','Regular';
          &:hover{
            color: white;
            background-color: #000;
          }
        }
    }
    @media (max-width: 375px){
        margin-bottom: 64px;
        li{
            a{
                padding: 9px 12px;
                font-size: 16px;
            }
        }
    }
}

