html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

@media (max-width: 767px) {
  .container {
    max-width: 100%; } }

.header {
  background-color: #AA0601;
  padding: 12px 0; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .menu .menuList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 80%;
      gap: 5%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end; }
      .header .menu .menuList li a {
        color: white;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        display: block; }
        .header .menu .menuList li a:hover {
          opacity: 0.7; }
    @media (max-width: 767px) {
      .header .menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px; }
        .header .menu .logo {
          width: 100%;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .header .menu .logo img {
            width: 25%;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            padding: 5px;
            margin-bottom: 20px;
            margin: 0 auto; }
        .header .menu .menuList {
          gap: 0;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%; }
          .header .menu .menuList li {
            width: 50%; }
            .header .menu .menuList li a {
              display: block;
              text-align: center;
              padding: 10%;
              border: #FFFFFF 1px solid; } }

.footer {
  background-color: #AA0601;
  padding: 48px 20px 0; }
  .footer .footerList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footerList .footer-left {
      width: 70%; }
    .footer .footerList .list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 3%;
      margin-bottom: 35px; }
      .footer .footerList .list a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Noto Sans TC'; }
        .footer .footerList .list a:hover {
          opacity: 0.7; }
    .footer .footerList .contact {
      border-bottom: 1px solid #FFFFFF; }
      .footer .footerList .contact li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-family: 'Noto Sans TC,Regular'; }
        .footer .footerList .contact li span {
          margin-right: 1.6%;
          color: white;
          font-size: 36px; }
        .footer .footerList .contact li a {
          text-decoration: none;
          color: white;
          font-size: 36px;
          line-height: 54px; }
          .footer .footerList .contact li a:hover {
            opacity: 0.7; }
    .footer .footerList .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 20%; }
      .footer .footerList .social .contact-mobile {
        display: none; }
    .footer .footerList .brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 15%; }
      .footer .footerList .brand li {
        width: 33%; }
        .footer .footerList .brand li a img {
          width: 100%; }
        .footer .footerList .brand li a:hover {
          opacity: 0.7; }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    font-size: 16px;
    margin-top: 32px;
    padding-bottom: 32px; }
    .footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 48px; }
      .footer .copyright ul p {
        font-family: 'Roboto'; }
      .footer .copyright ul a {
        text-decoration: none;
        color: white;
        font-size: 14px; }
        .footer .copyright ul a:hover {
          opacity: 0.7; }
  @media (max-width: 767px) {
    .footer {
      padding-bottom: 24px; }
      .footer .footerList .list {
        display: none; }
      .footer .footerList .contact {
        padding-bottom: 24px; }
        .footer .footerList .contact li span {
          margin-right: 3%;
          color: white;
          font-size: 20px; }
        .footer .footerList .contact li a {
          font-size: 16px;
          line-height: 24px; }
      .footer .footerList .brand {
        width: 100%; }
        .footer .footerList .brand img {
          width: 100%; }
      .footer .copyright {
        display: block; }
        .footer .copyright p {
          margin-bottom: 8px; }
        .footer .copyright ul {
          display: block; }
          .footer .copyright ul li {
            margin-bottom: 8px; } }

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .option .thisPage {
    border-bottom: 8px solid #AA0601; }
  .option li {
    width: 33%;
    margin-bottom: 8px; }
    .option li a {
      display: block;
      padding: 18% 0;
      text-align: center;
      text-decoration: none;
      color: #000;
      font-size: 32px;
      line-height: 48px;
      font-weight: bold;
      border: 1px solid #DCDCDC; }
      .option li a:hover {
        border-bottom: 8px solid #AA0601; }
  @media (max-width: 992px) {
    .option li a {
      font-size: 24px; }
      .option li a:hover {
        border-bottom: 8px solid #AA0601; }
    .option li .bl-none {
      border-left-style: none; }
    .option li .br-none {
      border-right-style: none; } }
  @media (max-width: 768px) {
    .option {
      margin-top: 0; }
      .option li a {
        font-size: 16px;
        padding: 9% 0; }
        .option li a:hover {
          border-bottom: 8px solid #AA0601; } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -12px;
  margin-bottom: 68px; }
  .banner .banner-mobile img {
    display: none; }
  .banner img {
    width: 100%; }
  @media (max-width: 767px) {
    .banner .banner-PC img {
      display: none; }
    .banner .banner-mobile img {
      display: block; } }
  @media (max-width: 375px) {
    .banner {
      margin-top: 0px; }
      .banner .banner-PC img {
        display: none; }
      .banner .banner-mobile img {
        display: block; } }

.product {
  text-align: center; }
  .product h1 {
    font-size: 42px;
    line-height: 63px;
    font-family: 'Roboto',Medium;
    font-style: normal; }
  .product h2 {
    font-size: 32px;
    line-height: 48px;
    font-family: 'Noto Sans TC';
    margin-bottom: 32px; }
  .product .productList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .product .productList li {
      width: 32%;
      margin-bottom: 80px;
      padding: 1.8%; }
      .product .productList li img {
        width: 100%; }
      .product .productList li a:hover {
        opacity: 0.7; }
      .product .productList li .productName {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 24px;
        line-height: 36px;
        font-family: 'Roboto'; }
        .product .productList li .productName .price {
          color: #AA0601; }
      .product .productList li .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2%; }
        .product .productList li .color li {
          width: 24px;
          height: 24px;
          border-radius: 12%; }
        .product .productList li .color .colorBrown {
          background-color: #5F3E2D; }
        .product .productList li .color .colorOrange {
          background-color: #b75929; }
    @media (max-width: 1320px) {
      .product .productList {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .product .productList li {
          width: 46%; } }
    @media (max-width: 767px) {
      .product .productList {
        padding: 3%; }
        .product .productList li {
          width: 100%; } }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px; }
  .page li a {
    padding: 12px 16px;
    border: 1px solid #555555;
    text-decoration: none;
    color: #555555;
    font-size: 19px;
    font-family: 'Roboto','Regular'; }
    .page li a:hover {
      color: white;
      background-color: #000; }
  @media (max-width: 375px) {
    .page {
      margin-bottom: 64px; }
      .page li a {
        padding: 9px 12px;
        font-size: 16px; } }

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .option .thisPage {
    border-bottom: 8px solid #AA0601; }
  .option li {
    width: 33%;
    margin-bottom: 8px; }
    .option li a {
      display: block;
      padding: 18% 0;
      text-align: center;
      text-decoration: none;
      color: #000;
      font-size: 32px;
      line-height: 48px;
      font-weight: bold;
      border: 1px solid #DCDCDC; }
      .option li a:hover {
        border-bottom: 8px solid #AA0601; }
  @media (max-width: 992px) {
    .option li a {
      font-size: 24px; }
      .option li a:hover {
        border-bottom: 8px solid #AA0601; }
    .option li .bl-none {
      border-left-style: none; }
    .option li .br-none {
      border-right-style: none; } }
  @media (max-width: 768px) {
    .option {
      margin-top: 0; }
      .option li a {
        font-size: 16px;
        padding: 9% 0; }
        .option li a:hover {
          border-bottom: 8px solid #AA0601; } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 68px; }
  .banner .banner-mobile img {
    display: none; }
  .banner img {
    width: 100%; }
  @media (max-width: 767px) {
    .banner .banner-PC img {
      display: none; }
    .banner .banner-mobile img {
      display: block; } }
  @media (max-width: 375px) {
    .banner {
      margin-top: 0px; }
      .banner .banner-PC img {
        display: none; }
      .banner .banner-mobile img {
        display: block; } }

.product {
  text-align: center; }
  .product h1 {
    font-size: 42px;
    line-height: 63px;
    font-family: 'Roboto',Medium;
    font-style: normal; }
  .product h2 {
    font-size: 32px;
    line-height: 48px;
    font-family: 'Noto Sans TC';
    margin-bottom: 32px; }
  .product .productList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .product .productList li {
      width: 32%;
      margin-bottom: 80px;
      padding: 1.8%; }
      .product .productList li img {
        width: 100%; }
      .product .productList li a:hover {
        opacity: 0.7; }
      .product .productList li .productName {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 24px;
        line-height: 36px;
        font-family: 'Roboto'; }
        .product .productList li .productName .price {
          color: #AA0601; }
      .product .productList li .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2%; }
        .product .productList li .color li {
          width: 24px;
          height: 24px;
          border-radius: 12%; }
        .product .productList li .color .colorBrown {
          background-color: #5F3E2D; }
        .product .productList li .color .colorOrange {
          background-color: #b75929; }
    @media (max-width: 1320px) {
      .product .productList {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 16px;
        line-height: 20px; }
        .product .productList li {
          width: 46%; } }
    @media (max-width: 767px) {
      .product .productList {
        padding: 3%; }
        .product .productList li {
          width: 100%; } }
  .product .optical li {
    width: 23%; }
  @media (max-width: 1320px) {
    .product .optical {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .product .optical li {
        width: 46%; } }
  @media (max-width: 767px) {
    .product .optical {
      padding: 3%; }
      .product .optical li {
        width: 100%; } }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px; }
  .page li a {
    padding: 12px 16px;
    border: 1px solid #555555;
    text-decoration: none;
    color: #555555;
    font-size: 19px;
    font-family: 'Roboto','Regular'; }
    .page li a:hover {
      color: white;
      background-color: #000; }
  @media (max-width: 375px) {
    .page {
      margin-bottom: 64px; }
      .page li a {
        padding: 9px 12px;
        font-size: 16px; } }

.question h1 {
  margin-top: 84px;
  margin-bottom: 32px;
  font-size: 48px;
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  font-weight: bold; }

.question h2 {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold; }

.question h3 {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold; }

.question p {
  font-size: 16px;
  line-height: 24px; }

.question ul {
  margin-bottom: 32px; }

@media (max-width: 375px) {
  .question {
    padding: 13px; } }

/*# sourceMappingURL=all.css.map */
